﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="form-group" style="padding:10px">
    <form asp-controller="Home" asp-action="Contact" method="post">

        <input type="text" class="form-control" placeholder="Name" name="name" />

        <input type="text" class="form-control" placeholder="Numer" name="number" />

        <input type="text" class="form-control" placeholder="Email" name="Email" />

        <input type="text" class="form-control" placeholder="phone" name="phone" />

        <button class="btn btn-success" type="submit">Zapis</button>


    </form>
</div>